USE [master]
GO
/****** Object:  Database [LifetimeLiveHouseSysDB]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE DATABASE [LifetimeLiveHouseSysDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LifetimeLiveHouseSysDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LifetimeLiveHouseSysDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LifetimeLiveHouseSysDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LifetimeLiveHouseSysDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LifetimeLiveHouseSysDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LifetimeLiveHouseSysDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceRecord]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecord](
	[AttendanceID] [bigint] IDENTITY(1,1) NOT NULL,
	[PunchInTime] [datetime2](7) NULL,
	[PunchOutTime] [datetime2](7) NULL,
	[EmployeeID] [bigint] NOT NULL,
 CONSTRAINT [PK_AttendanceRecord] PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BandRole]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BandRole](
	[BandRoleID] [nchar](1) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_BandRole] PRIMARY KEY CLUSTERED 
(
	[BandRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[MemberID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateID] [nchar](5) NOT NULL,
	[CateName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[cNo] [bigint] IDENTITY(1,1) NOT NULL,
	[cDesc] [nvarchar](200) NULL,
	[Discount] [money] NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[MemberID] [bigint] NOT NULL,
 CONSTRAINT [PK_Coupon] PRIMARY KEY CLUSTERED 
(
	[cNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[HireDate] [datetime2](7) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Tel] [nvarchar](20) NOT NULL,
	[RoleCode] [nvarchar](1) NOT NULL,
	[StoreID] [bigint] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAccount]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAccount](
	[Email] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[EmployeeID] [bigint] NOT NULL,
 CONSTRAINT [PK_EmployeeAccount] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[RoleCode] [nvarchar](1) NOT NULL,
	[RoleName] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_EmployeeRole] PRIMARY KEY CLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](40) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[RegistrationFee] [money] NOT NULL,
	[Discription] [nvarchar](max) NULL,
	[EventPicture] [nvarchar](50) NOT NULL,
	[StoreID] [bigint] NOT NULL,
	[MemberID] [bigint] NOT NULL,
	[StatusCode] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventStatus]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventStatus](
	[StatusCode] [nchar](1) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_EventStatus] PRIMARY KEY CLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instrument]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instrument](
	[InstrumentID] [bigint] IDENTITY(1,1) NOT NULL,
	[InstrumentName] [nvarchar](40) NOT NULL,
	[RentTime] [datetime2](7) NOT NULL,
	[OutRentTime] [datetime2](7) NOT NULL,
	[RentFeePerHour] [money] NOT NULL,
	[Discription] [nvarchar](max) NULL,
	[InstrumentPhoto] [nvarchar](50) NOT NULL,
	[StoreID] [bigint] NOT NULL,
	[MemberID] [bigint] NULL,
 CONSTRAINT [PK_Instrument] PRIMARY KEY CLUSTERED 
(
	[InstrumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Live]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Live](
	[LiveID] [bigint] IDENTITY(1,1) NOT NULL,
	[LiveName] [nvarchar](40) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[Admission] [money] NOT NULL,
	[Discription] [nvarchar](max) NULL,
	[LiveSong] [nvarchar](40) NOT NULL,
	[BandRoleID] [nchar](1) NOT NULL,
	[StoreID] [bigint] NOT NULL,
	[MemberID] [bigint] NOT NULL,
	[StatusCode] [nvarchar](max) NOT NULL,
	[EventStatusStatusCode] [nchar](1) NULL,
 CONSTRAINT [PK_Live] PRIMARY KEY CLUSTERED 
(
	[LiveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginRecord]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginRecord](
	[RecordID] [bigint] IDENTITY(1,1) NOT NULL,
	[Record] [nvarchar](200) NULL,
	[LoginDate] [datetime2](7) NOT NULL,
	[ContinuousLoginDate] [bigint] NOT NULL,
	[MemberID] [bigint] NOT NULL,
 CONSTRAINT [PK_LoginRecord] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Cash] [money] NOT NULL,
	[CellphoneNumber] [nvarchar](20) NOT NULL,
	[MemberPoint] [int] NOT NULL,
	[StatusCode] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberAccount]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberAccount](
	[Email] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[MemberID] [bigint] NOT NULL,
 CONSTRAINT [PK_MemberAccount] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberHeadPicture]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberHeadPicture](
	[Picture] [nvarchar](50) NOT NULL,
	[MemberID] [bigint] NOT NULL,
 CONSTRAINT [PK_MemberHeadPicture] PRIMARY KEY CLUSTERED 
(
	[Picture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberPicture]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberPicture](
	[Picture] [nvarchar](50) NOT NULL,
	[MemberID] [bigint] NOT NULL,
 CONSTRAINT [PK_MemberPicture] PRIMARY KEY CLUSTERED 
(
	[Picture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberStatus]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberStatus](
	[StatusCode] [nchar](1) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_MemberStatus] PRIMARY KEY CLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberVerificationStatus]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberVerificationStatus](
	[MemberID] [bigint] NOT NULL,
	[PhoneVerificationStatus] [bit] NOT NULL,
	[EmailVerificationStatus] [bit] NOT NULL,
 CONSTRAINT [PK_MemberVerificationStatus] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [bigint] IDENTITY(1,1) NOT NULL,
	[NewsTitle] [nvarchar](40) NOT NULL,
	[Author] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NOT NULL,
	[PostDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Readed] [bit] NOT NULL,
	[MemberID] [bigint] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[oTel] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](200) NULL,
	[MemberID] [bigint] NOT NULL,
	[EmployeeID] [bigint] NULL,
	[PayCode] [nchar](2) NULL,
	[StatusCode] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [bigint] NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[Price] [money] NOT NULL,
	[Count] [int] NOT NULL,
	[ShippingAddress] [nvarchar](50) NULL,
	[ShippingMethodCode] [nchar](1) NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetailProduct]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetailProduct](
	[ProductsProductID] [bigint] NOT NULL,
	[OrderDetailOrderID] [bigint] NOT NULL,
	[OrderDetailProductID] [bigint] NOT NULL,
 CONSTRAINT [PK_OrderDetailProduct] PRIMARY KEY CLUSTERED 
(
	[ProductsProductID] ASC,
	[OrderDetailOrderID] ASC,
	[OrderDetailProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderOrderDetail]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderOrderDetail](
	[OrdersOrderID] [bigint] NOT NULL,
	[OrderDetailOrderID] [bigint] NOT NULL,
	[OrderDetailProductID] [bigint] NOT NULL,
 CONSTRAINT [PK_OrderOrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrdersOrderID] ASC,
	[OrderDetailOrderID] ASC,
	[OrderDetailProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[StatusCode] [nvarchar](1) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetToken](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberID] [bigint] NOT NULL,
	[TokenHash] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[Used] [bit] NOT NULL,
	[UsedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PasswordResetToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayType]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayType](
	[PayCode] [nchar](2) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[ShippingFee] [money] NOT NULL,
 CONSTRAINT [PK_PayType] PRIMARY KEY CLUSTERED 
(
	[PayCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [bigint] IDENTITY(1,1) NOT NULL,
	[StatusCode] [nchar](1) NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[ProductNum] [bigint] NOT NULL,
	[Pricing] [money] NOT NULL,
	[RetailPrice] [money] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Photo] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CateID] [nchar](5) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStatus]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatus](
	[StatusCode] [nchar](1) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ProductStatus] PRIMARY KEY CLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegisteredEvent]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisteredEvent](
	[RecordID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NOT NULL,
	[MemberID] [bigint] NOT NULL,
 CONSTRAINT [PK_RegisteredEvent] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RehearsalStudio]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RehearsalStudio](
	[RehearsalStudioID] [bigint] IDENTITY(1,1) NOT NULL,
	[RehearsalStudioName] [nvarchar](40) NOT NULL,
	[StartRentTime] [datetime2](7) NOT NULL,
	[OutRentTime] [datetime2](7) NOT NULL,
	[RentFeePerHour] [money] NOT NULL,
	[Discription] [nvarchar](max) NULL,
	[RehearsalStudioPhoto] [nvarchar](50) NOT NULL,
	[StoreID] [bigint] NOT NULL,
	[MemberID] [bigint] NULL,
 CONSTRAINT [PK_RehearsalStudio] PRIMARY KEY CLUSTERED 
(
	[RehearsalStudioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatID] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberID] [bigint] NOT NULL,
	[StoreID] [bigint] NOT NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingMethod]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingMethod](
	[ShippingMethodCode] [nchar](1) NOT NULL,
	[Method] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ShippingMethod] PRIMARY KEY CLUSTERED 
(
	[ShippingMethodCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 2025/10/18 上午 01:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[StoreID] [bigint] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](40) NOT NULL,
	[RentFeePerHour] [money] NOT NULL,
	[sTel] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Discription] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Region] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceRecord_EmployeeID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceRecord_EmployeeID] ON [dbo].[AttendanceRecord]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cart_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Cart_MemberID] ON [dbo].[Cart]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cart_ProductID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Cart_ProductID] ON [dbo].[Cart]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Coupon_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Coupon_MemberID] ON [dbo].[Coupon]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Coupon_ProductID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Coupon_ProductID] ON [dbo].[Coupon]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employee_RoleCode]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Employee_RoleCode] ON [dbo].[Employee]
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_StoreID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Employee_StoreID] ON [dbo].[Employee]
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeAccount_EmployeeID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeAccount_EmployeeID] ON [dbo].[EmployeeAccount]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Event_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Event_MemberID] ON [dbo].[Event]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Event_StatusCode]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Event_StatusCode] ON [dbo].[Event]
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Event_StoreID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Event_StoreID] ON [dbo].[Event]
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Instrument_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Instrument_MemberID] ON [dbo].[Instrument]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Instrument_StoreID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Instrument_StoreID] ON [dbo].[Instrument]
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Live_BandRoleID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Live_BandRoleID] ON [dbo].[Live]
(
	[BandRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Live_EventStatusStatusCode]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Live_EventStatusStatusCode] ON [dbo].[Live]
(
	[EventStatusStatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Live_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Live_MemberID] ON [dbo].[Live]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Live_StoreID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Live_StoreID] ON [dbo].[Live]
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoginRecord_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_LoginRecord_MemberID] ON [dbo].[LoginRecord]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Member_StatusCode]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Member_StatusCode] ON [dbo].[Member]
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberAccount_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_MemberAccount_MemberID] ON [dbo].[MemberAccount]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberHeadPicture_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MemberHeadPicture_MemberID] ON [dbo].[MemberHeadPicture]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberPicture_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_MemberPicture_MemberID] ON [dbo].[MemberPicture]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_MemberID] ON [dbo].[Notification]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_EmployeeID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Order_EmployeeID] ON [dbo].[Order]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Order_MemberID] ON [dbo].[Order]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_PayCode]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Order_PayCode] ON [dbo].[Order]
(
	[PayCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_StatusCode]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Order_StatusCode] ON [dbo].[Order]
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderDetail_ShippingMethodCode]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetail_ShippingMethodCode] ON [dbo].[OrderDetail]
(
	[ShippingMethodCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetailProduct_OrderDetailOrderID_OrderDetailProductID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetailProduct_OrderDetailOrderID_OrderDetailProductID] ON [dbo].[OrderDetailProduct]
(
	[OrderDetailOrderID] ASC,
	[OrderDetailProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderOrderDetail_OrderDetailOrderID_OrderDetailProductID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_OrderOrderDetail_OrderDetailOrderID_OrderDetailProductID] ON [dbo].[OrderOrderDetail]
(
	[OrderDetailOrderID] ASC,
	[OrderDetailProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordResetToken_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetToken_MemberID] ON [dbo].[PasswordResetToken]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Product_CateID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Product_CateID] ON [dbo].[Product]
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Product_StatusCode]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Product_StatusCode] ON [dbo].[Product]
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegisteredEvent_EventID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_RegisteredEvent_EventID] ON [dbo].[RegisteredEvent]
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegisteredEvent_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_RegisteredEvent_MemberID] ON [dbo].[RegisteredEvent]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RehearsalStudio_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_RehearsalStudio_MemberID] ON [dbo].[RehearsalStudio]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RehearsalStudio_StoreID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_RehearsalStudio_StoreID] ON [dbo].[RehearsalStudio]
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Seat_MemberID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Seat_MemberID] ON [dbo].[Seat]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Seat_StoreID]    Script Date: 2025/10/18 上午 01:56:02 ******/
CREATE NONCLUSTERED INDEX [IX_Seat_StoreID] ON [dbo].[Seat]
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttendanceRecord]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRecord_Employee_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttendanceRecord] CHECK CONSTRAINT [FK_AttendanceRecord_Employee_EmployeeID]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Member_MemberID]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product_ProductID]
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD  CONSTRAINT [FK_Coupon_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Coupon] CHECK CONSTRAINT [FK_Coupon_Member_MemberID]
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD  CONSTRAINT [FK_Coupon_Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Coupon] CHECK CONSTRAINT [FK_Coupon_Product_ProductID]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeRole_RoleCode] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[EmployeeRole] ([RoleCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeRole_RoleCode]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Store_StoreID] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Store_StoreID]
GO
ALTER TABLE [dbo].[EmployeeAccount]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAccount_Employee_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeAccount] CHECK CONSTRAINT [FK_EmployeeAccount_Employee_EmployeeID]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventStatus_StatusCode] FOREIGN KEY([StatusCode])
REFERENCES [dbo].[EventStatus] ([StatusCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventStatus_StatusCode]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Member_MemberID]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Store_StoreID] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Store_StoreID]
GO
ALTER TABLE [dbo].[Instrument]  WITH CHECK ADD  CONSTRAINT [FK_Instrument_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Instrument] CHECK CONSTRAINT [FK_Instrument_Member_MemberID]
GO
ALTER TABLE [dbo].[Instrument]  WITH CHECK ADD  CONSTRAINT [FK_Instrument_Store_StoreID] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Instrument] CHECK CONSTRAINT [FK_Instrument_Store_StoreID]
GO
ALTER TABLE [dbo].[Live]  WITH CHECK ADD  CONSTRAINT [FK_Live_BandRole_BandRoleID] FOREIGN KEY([BandRoleID])
REFERENCES [dbo].[BandRole] ([BandRoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Live] CHECK CONSTRAINT [FK_Live_BandRole_BandRoleID]
GO
ALTER TABLE [dbo].[Live]  WITH CHECK ADD  CONSTRAINT [FK_Live_EventStatus_EventStatusStatusCode] FOREIGN KEY([EventStatusStatusCode])
REFERENCES [dbo].[EventStatus] ([StatusCode])
GO
ALTER TABLE [dbo].[Live] CHECK CONSTRAINT [FK_Live_EventStatus_EventStatusStatusCode]
GO
ALTER TABLE [dbo].[Live]  WITH CHECK ADD  CONSTRAINT [FK_Live_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Live] CHECK CONSTRAINT [FK_Live_Member_MemberID]
GO
ALTER TABLE [dbo].[Live]  WITH CHECK ADD  CONSTRAINT [FK_Live_Store_StoreID] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Live] CHECK CONSTRAINT [FK_Live_Store_StoreID]
GO
ALTER TABLE [dbo].[LoginRecord]  WITH CHECK ADD  CONSTRAINT [FK_LoginRecord_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoginRecord] CHECK CONSTRAINT [FK_LoginRecord_Member_MemberID]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_MemberStatus_StatusCode] FOREIGN KEY([StatusCode])
REFERENCES [dbo].[MemberStatus] ([StatusCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_MemberStatus_StatusCode]
GO
ALTER TABLE [dbo].[MemberAccount]  WITH CHECK ADD  CONSTRAINT [FK_MemberAccount_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberAccount] CHECK CONSTRAINT [FK_MemberAccount_Member_MemberID]
GO
ALTER TABLE [dbo].[MemberHeadPicture]  WITH CHECK ADD  CONSTRAINT [FK_MemberHeadPicture_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberHeadPicture] CHECK CONSTRAINT [FK_MemberHeadPicture_Member_MemberID]
GO
ALTER TABLE [dbo].[MemberPicture]  WITH CHECK ADD  CONSTRAINT [FK_MemberPicture_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberPicture] CHECK CONSTRAINT [FK_MemberPicture_Member_MemberID]
GO
ALTER TABLE [dbo].[MemberVerificationStatus]  WITH CHECK ADD  CONSTRAINT [FK_MemberVerificationStatus_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberVerificationStatus] CHECK CONSTRAINT [FK_MemberVerificationStatus_Member_MemberID]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Member_MemberID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee_EmployeeID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Member_MemberID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus_StatusCode] FOREIGN KEY([StatusCode])
REFERENCES [dbo].[OrderStatus] ([StatusCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus_StatusCode]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PayType_PayCode] FOREIGN KEY([PayCode])
REFERENCES [dbo].[PayType] ([PayCode])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PayType_PayCode]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_ShippingMethod_ShippingMethodCode] FOREIGN KEY([ShippingMethodCode])
REFERENCES [dbo].[ShippingMethod] ([ShippingMethodCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_ShippingMethod_ShippingMethodCode]
GO
ALTER TABLE [dbo].[OrderDetailProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetailProduct_OrderDetail_OrderDetailOrderID_OrderDetailProductID] FOREIGN KEY([OrderDetailOrderID], [OrderDetailProductID])
REFERENCES [dbo].[OrderDetail] ([OrderID], [ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetailProduct] CHECK CONSTRAINT [FK_OrderDetailProduct_OrderDetail_OrderDetailOrderID_OrderDetailProductID]
GO
ALTER TABLE [dbo].[OrderDetailProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetailProduct_Product_ProductsProductID] FOREIGN KEY([ProductsProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetailProduct] CHECK CONSTRAINT [FK_OrderDetailProduct_Product_ProductsProductID]
GO
ALTER TABLE [dbo].[OrderOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderOrderDetail_Order_OrdersOrderID] FOREIGN KEY([OrdersOrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderOrderDetail] CHECK CONSTRAINT [FK_OrderOrderDetail_Order_OrdersOrderID]
GO
ALTER TABLE [dbo].[OrderOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderOrderDetail_OrderDetail_OrderDetailOrderID_OrderDetailProductID] FOREIGN KEY([OrderDetailOrderID], [OrderDetailProductID])
REFERENCES [dbo].[OrderDetail] ([OrderID], [ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderOrderDetail] CHECK CONSTRAINT [FK_OrderOrderDetail_OrderDetail_OrderDetailOrderID_OrderDetailProductID]
GO
ALTER TABLE [dbo].[PasswordResetToken]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetToken_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetToken] CHECK CONSTRAINT [FK_PasswordResetToken_Member_MemberID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category_CateID] FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category_CateID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductStatus_StatusCode] FOREIGN KEY([StatusCode])
REFERENCES [dbo].[ProductStatus] ([StatusCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductStatus_StatusCode]
GO
ALTER TABLE [dbo].[RegisteredEvent]  WITH CHECK ADD  CONSTRAINT [FK_RegisteredEvent_Event_EventID] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegisteredEvent] CHECK CONSTRAINT [FK_RegisteredEvent_Event_EventID]
GO
ALTER TABLE [dbo].[RegisteredEvent]  WITH CHECK ADD  CONSTRAINT [FK_RegisteredEvent_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[RegisteredEvent] CHECK CONSTRAINT [FK_RegisteredEvent_Member_MemberID]
GO
ALTER TABLE [dbo].[RehearsalStudio]  WITH CHECK ADD  CONSTRAINT [FK_RehearsalStudio_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[RehearsalStudio] CHECK CONSTRAINT [FK_RehearsalStudio_Member_MemberID]
GO
ALTER TABLE [dbo].[RehearsalStudio]  WITH CHECK ADD  CONSTRAINT [FK_RehearsalStudio_Store_StoreID] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RehearsalStudio] CHECK CONSTRAINT [FK_RehearsalStudio_Store_StoreID]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Member_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Member_MemberID]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Store_StoreID] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Store_StoreID]
GO
USE [master]
GO
